[2021-04-16 08:16] gavanderhoorn commented on #568
You seem to be using `ur_robot_driver`. That's good, as that's the only supported driver for e-Series robots.

It also means that your question would be better posted on the [UniversalRobots/Universal_Robots_ROS_Driver/issues](https://github.com/UniversalRobots/Universal_Robots_ROS_Driver/issues) tracker.

If/when you do post there, be sure to include more information as "it doesn't work at all" w

[2021-04-16 08:16] #568 closed, assigned to nobody

[2021-04-22 13:26] omeranar1 opened #569 "Gazebo robot moving dashed"
i run ur robot in "gazebo+rviz+ur5_moveit_planning_execution".
I am sending waypoints with using cpp code.
i am doing "computeCartesianPath" for drawing a single line,
i create two point x0=-500 and x1=+500,
But when the robot in the gazebo moves on the line, it sometimes slows down then returns to its normal speed.

![2021-04-22-165252_3840x1080_scrot](https://user-images.githubusercontent.com/19

[2021-04-22 14:36] gavanderhoorn commented on #569
This reads like a duplicate of [gazebo robot slows down then returns normal speed](https://answers.ros.org/question/376730) on ROS Answers.

Please don't cross-post.

I'll close your post here.

[2021-04-22 14:36] #569 closed, assigned to nobody

[2021-05-01 14:44] fmauch commented on #567
URScript's `movep` and generating a trajectory using MoveIt is quite different.

ROS trajectories always go through the specified trajectory setpoints exactly without cutting corners as traditional blending does. Whether the robot will stop in a waypoint or how it will move around the waypoint is determined also by the velocities defined for a waypoint. Waypoints are connected to each other using

[2021-05-04 11:17] v4hn commented on #448
Ping. (@gavanderhoorn ?)

The discussion on breaking changes in the melodic release has been going on for almost two years, bigger groups migrate to noetic by now and this is still an issue:

[code]

We noticed in the moveit_tutorials because [rosdep can't find the packages when they're not compiled in the same workspace](https://github.com/ros-planning/moveit_tutorials/pull/558#discussion_r625529

[2021-05-04 16:36] VFjr commented on #527
I am getting the same exact error with any of the UR moveit configs. The setup assistant crashes at the same point. Was able to replicate it on two different PCs using ROS Melodic on Ubuntu 18.

I have checked the URDF files and there are no negative lengths in it.

[2021-05-04 23:51] UmutUz commented on #389
@atyshka did you ever find a fix for that?

[2021-05-05 11:30] VFjr opened #570 "MoveIt setup assistant process dies"
I am trying to edit the MoveIt configuration package using the MoveIt Setup Assistant, but it crashes after pressing the load button. I have found the same exact error in the issue #527 , which was closed due to inactivity. This happens with any of the ur robots I tried. This only happens on the ur moveit packages, as it does not happen on a custom one.

[code]

I am using ROS Melodic on Ubuntu 18

[2021-05-05 11:37] gavanderhoorn commented on #570
`-11` is a `SEGFAULT`, which points to a problem in the MSA itself.

The fact you only observe it with the MoveIt packages in this repository isn't really significant.

`SEGFAULT`s are typically caused by out-of-bounds array access, use-after-free of pointers, null pointer derefences, etc.

If you want to figure out what is happening, I'd suggest compiling the MSA with debug symbols enabled, start

[2021-05-06 19:38] jaybrecht commented on #462
@swagatk Were you able to fix the issue? When I switch to using the VelocityJointInterface the robot sags. I am able to send velocity commands to the robot but it continues to drop

https://user-images.githubusercontent.com/50928580/117355807-02726e00-ae81-11eb-93e3-34b3fce0a8a2.mp4

[2021-05-06 22:02] swagatk commented on #462
No, I could not resolve this issue. Please let me know if you are able to
solve this problem.

Thanks & Regards,
Swagat

On Thu, May 6, 2021 at 8:38 PM Justin Albrecht ***@***.***>
wrote:

[2021-05-07 20:49] danzimmerman commented on #537
I'm having an issue on [RoboStack Noetic](https://github.com/RoboStack/ros-noetic) on Windows 10 with invisible Collada visual meshes on some of the robots (here UR5) from `melodic-devel-staging`:

![image](https://user-images.githubusercontent.com/4365714/117505539-2fdb1c80-af52-11eb-9c3d-255094524515.png)

~See https://github.com/RoboStack/ros-noetic/issues/121 for details.~ EDIT: per suggestion

[2021-05-12 15:10] Ryoga723 opened #571 "How can I limit velocity?"
Hello,

When we use UR, we can limit its velocity by teach pendant.

But it's stupid to manipulate teach pendant every time.

So I'd like to change limitation in moveit program.

Now I use moveit::planning_interface::MoveGroupInterface move_group class and to execute move_group.execute(my plan) is method to move robot.

Thank you for your helping.

[2021-05-12 15:12] gavanderhoorn commented on #571
Which driver are you using?

[2021-05-12 15:21] Ryoga723 commented on #571
I use ur_robot_driver.

launch command is the same as read.me of this package.
roslaunch ur_bringup ur5_bringup.launch robot_ip:=IP_OF_THE_ROBOT

And I use below command to connect moveit.
roslaunch ur5_moveit_config ur5_moveit_planning_execution.launch

[2021-05-12 15:23] gavanderhoorn commented on #571
Then please post this on [UniversalRobots/Universal_Robots_ROS_Driver/issues](https://github.com/UniversalRobots/Universal_Robots_ROS_Driver/issues).

that doesn't seem right: note you're referring to `ur_bringup`. The readme you refer to actually launch things from `ur_robot_driver`.

[2021-05-12 15:24] gavanderhoorn commented on #571
As this is not an issue with the package(s) in this repository, I'm going to close it.

[2021-05-12 15:24] #571 closed, assigned to nobody

[2021-05-17 06:45] sunnymints commented on #462
I meet the problem too, I can not find this solution..... Were you able to fix the issue?

[2021-05-19 15:39] danzimmerman commented on #537
Note that the invisible-links issue I described above is indeed an issue with how recent versions of OGRE handle materials (see  https://github.com/osrf/gazebo/issues/3002), not an issue with the models in these packages. It's now fixed in the Robostack version of Noetic and my `ur_gazebo` functionality is working there. I still have the same problem in RViz that @Victorlouisdg reports above... th

[2021-05-19 20:31] dudasdavid opened #572 "Strange MoveIt commander behavior with ROS Noetic"
Hi Universal Robots team,

I know that there isn't any official support yet for Noetic in this repository, but I can see that you're working on it in the Universal_Robots_ROS_Driver. @fmauch I'm using a fork based on your calibration_devel branch, but I tested your calibration_devel-staging, too.

I have no issues with ROS Melodic, only with Noetic and only when using moveit commander with pose ta

[2021-05-20 05:55] fmauch commented on #572
For reference, my [`calibration_devel-staging`](https://github.com/fmauch/universal_robot/tree/calibration_devel-staging) currently is the same as in #538.

[2021-05-20 07:31] gavanderhoorn commented on #572
Just to clarify: this repository is not maintained by Universal Robots. It's a community effort at this point.

As to the problem you describe: at this point I'm inclined to assume it's a problem in MoveIt.

MoveIt development is quite active, and the differences between Melodic and Noetic are significant (Noetic is essentially tracking `master`, while Melodic is not).

From my own experience, "un

[2021-05-20 07:31] gavanderhoorn commented on #572
For now I'm going to close this here, but if it turns out something needs to be fixed here, we'll re-open.

[2021-05-20 07:32] #572 closed, assigned to nobody

[2021-05-20 07:42] dudasdavid commented on #572
It was tested with KDL (since the UR IK doesn't really work well with limited joints and MoveIt). I can partially accept that it's a MoveIt issue, however the same MoveIt Commander application works with Panda robot in the simulation.
I'd also exclude a trivial MoveIt config issue, because I observe the same problem with @fmauch's `calibration_devel` and `calibration_devel-staging` branches.

@gav

[2021-05-20 07:49] fmauch commented on #572
It's not non-official, it is just not developed / maintained by the Company Universal Robots but driven by community effort.

[2021-05-20 07:49] gavanderhoorn commented on #572
this may have been unclear, but it's never been "official". It's always been a community effort. It's existed for far longer than UR's involvement with their driver, or with their interest in ROS actually.

And as I'm not part of UR, I'm not privy to what they plan to do or not.

[2021-05-20 07:51] gavanderhoorn commented on #572
As to your problem: this will require reproduction and then debugging MoveIt. That's unfortunately not something I can make time available for right now.

As a first step, I'd turn up the logging config for MoveIt itself to `DEBUG`, which might provide more insight into *where* exactly something is failing.

[2021-05-20 08:21] gavanderhoorn commented on #537
you don't show an RViz screenshot here, but from the one you show in https://github.com/conda-forge/gazebo-feedstock/issues/74#issuecomment-835426132:

![](https://user-images.githubusercontent.com/4365714/117546422-594e8380-aff8-11eb-97e7-fff25a524a98.png)

It would appear you have the *Fixed Frame* setting set to `map`, and the TF display complains about no transforms being available from `map`

[2021-05-20 16:37] danzimmerman commented on #537
@gavanderhoorn Thanks. Makes sense re: the collapse with the TF errors. Is the featureless white visual appearance normal RViz behavior in this situation?

I am not very familiar with RViz because I've been working almost exclusively in Gazebo. Switching to a valid frame, I see that the behavior is identical on my ordinary ([MS-IoT](https://ms-iot.github.io/ROSOnWindows/)) Windows 10 Melodic insta

[2021-05-20 17:47] gavanderhoorn commented on #537
yes.

[2021-05-25 13:53] lianghongzhuo opened #573 "this package is outdated with calibration_devel branch"
Hi, as you all know, this package is outdated with 100+ commit with https://github.com/fmauch/universal_robot/tree/calibration_devel
This is confusing and breaks a lot of things. Why not just synchronize all commits from Felix?

[2021-05-25 14:11] fmauch commented on #573
It is not very much out-of-sync. With https://github.com/fmauch/universal_robot/pull/10 the only effective differences are #562 and #538. I decided to do https://github.com/fmauch/universal_robot/pull/10 in order to make my fork more exchangeable with the upstream repo in case someone doesn't want to use MoveIt!. The history looks different, as my [calibration_devel](https://github.com/fmauch/univ

[2021-05-25 16:34] lianghongzhuo commented on #573
I know you did a good job on maintaining the ur driver and ur descriptions, thank you for that.
But why ros-indestrial maintainers did not react?

[2021-06-17 21:42] danzimmerman commented on #521
I've pulled in @matteolucchi's #526 to `melodic-devel-staging` on my own fork to investigate the and wanted to report some issues I'm having with gravity-induced sag of the robot.

The switch to `EffortJointInterface` is effective in preventing the "exploding" robot problem when the robot contacts rigid obstacles, but it is preventing the robot from reaching a desired end-effector pose to "expecte

[2021-06-30 09:00] Xillez opened #574 "Camera and light present on ur10 collada visuals"
Collada files in "ur_descriptions/meshes/ur10/visual" contains lights and cameras. Recommend removing these from the models.

[2021-07-16 07:50] Art3miss233 opened #576 "[ WARN] [1626421306.304272050]: Skipping virtual joint 'virtual_joint' because its child frame 'panda_link0' does not match the URDF frame 'world'"
Hi! I have been searching everywhere and cannot find a solution to this error. I am trying to control a panda robot, and get the following error with both the simulator and the real robot when I use the command: roslaunch panda_sim_moveit sim_move_group.launch to launch the simulator. I think this error is the source of why the gripper of my panda arm doesn't work. Other than the gripper everythin

[2021-07-16 07:53] lianghongzhuo commented on #576
This is the universal robot repository, not panda robot

[2021-08-01 12:09] vonunwerth opened #577 "Elbow joint limits just +-pi even with ${joint_limited} false"
Why are the **joint position limits** of the **elbow joint** in each arm description set to `+-pi` even if the `joint_limited` parameter is `false`. Should not they be defined as `+-2pi` regarding the official declarations(https://www.universal-robots.com/media/50880/ur10_bz.pdf) or is that a sort of "trick" to make it easier for moveit to find a IK solution?

[code]

I can see that there is no re

[2021-08-01 14:58] gavanderhoorn commented on #577
Because of #265.

[2021-08-01 14:58] #577 closed, assigned to nobody

[2021-08-06 15:10] jiannan0721 commented on #494
Hello, did you resolve this issue? We encountered the same error.

[2021-08-06 15:47] lianghongzhuo commented on #494
use @fmauch 's branch https://github.com/fmauch/universal_robot/tree/calibration_devel
and `roslaunch ur_gazebo ur5_bringup.launch limited:=true`
This repo is far behind the state of the art.

[2021-08-06 15:51] jiannan0721 commented on #494
Thank you for the quick response! We will try.

[2021-08-06 15:58] lianghongzhuo commented on #573
Please at least claim this repo as unmaintained since it's outdated and people getting errors when jumping into this repo (https://github.com/ros-industrial/universal_robot/issues/494) while there exist a bug-fixed version (https://github.com/fmauch/universal_robot/tree/calibration_devel) of this repo but not getting merged. I don't know why.

[2021-08-12 02:01] lydiazoghbi opened #578 "ROS2 Integration"
Hi! Are there any plans to translate the contents of this repo to ROS2? Particularly the gazebo scripts.

[2021-08-12 11:30] gavanderhoorn commented on #578
ROS 2 work is in [UniversalRobots/Universal_Robots_ROS2_Driver](https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver).

I'm not aware of efforts around the Gazebo packages.

[2021-08-12 11:30] #578 closed, assigned to nobody

[2021-08-27 07:33] MZJR commented on #537
How do I install the UR package in the noetic version?By melodic-devel-staging？

[2021-08-27 07:59] gavanderhoorn commented on #537
Yes.

[2021-08-27 08:23] MZJR commented on #537
Thanks. By the way,I will develop UR under this branch. Before the noetic version is released, are there any known bugs that I need to pay attention to?Or which parts can I test for this branch?

[2021-08-27 08:26] gavanderhoorn commented on #537
Please clarify what you're going to be doing exactly.

Will you be using [UniversalRobots/Universal_Robots_ROS_Driver](https://github.com/UniversalRobots/Universal_Robots_ROS_Driver)? If so: please follow the instructions there. Do not use this repository by itself in that case.

Also: usage questions might be better posted on ROS Answers.

[2021-08-27 08:40] MZJR commented on #537
Thanks for your guidance.At present, I just want to find a suitable UR package for physical control under noetic.

[2021-08-27 08:42] gavanderhoorn commented on #537
Then go to [UniversalRobots/Universal_Robots_ROS_Driver](https://github.com/UniversalRobots/Universal_Robots_ROS_Driver) and follow the instructions.

[2021-09-16 13:51] baifanxxx opened #580 "No transform available between frame 'tool0_controller' and planning frame '/world' ()"
Hi,
I have a problem about UR3 on compute Cartesian path.

my configration is:
Ubuntu 16.04, ROS kinetic, UR3, ros-industrial/universal_robot + ur_modern_driver.

If I use
    (plan, fraction) = group.compute_cartesian_path( waypoints,0.01,  0.0, True)
 to compute Cartesian path. There are some erro like this:

[ INFO] [1631799290.770572209]: Received request to compute Cartesian path
[ WARN] [163

[2021-09-16 13:53] gavanderhoorn commented on #580
Unfortunately we don't support UR3s + `ur_modern_driver`.

You should really use `UniversalRobots/Universal_Robots_ROS_Driver` for that robot.

[2021-09-16 13:53] #580 closed, assigned to nobody

[2021-09-16 13:54] gavanderhoorn commented on #580
Also: please don't cross-post to multiple issue trackers.

[2021-09-24 05:42] danielcranston opened #581 "`ee_link` exists in SRDF files but not URDF"
Looking at the `melodic-devel-staging` branch which I believe to be the main melodic (and noetic?) branch after reading around a bit (and considering it's targeted as the dependant branch in the [Universal_Robots_ROS_Driver](https://github.com/UniversalRobots/Universal_Robots_ROS_Driver/blob/v2.0.0/.melodic.rosinstall) repo).

I'm curious, what's the deal with `ee_link` ? It is expected in the SRD

[2021-09-24 06:15] gavanderhoorn commented on #581
`ee_link` has already been removed, and the remnant in the MoveIt configurations will also be removed (in fact: they must be completely recreated).

It never aligned with any physical or conceptual link in the real robot or its control system, so its use was limited.

`tool0` is aligned with an unconfigured tool frame on the UR CB.

The `flange` frame should be used to attach EEF models to.

See [

[2021-09-24 06:16] gavanderhoorn commented on #581
As this is more of a usage question, and not a problem with the packages in this repository, I'm going to close the issue.

Feel free to keep commenting on it of course.

[2021-09-24 06:16] #581 closed, assigned to nobody

[2021-09-28 07:42] rhaschke opened #582 "xacro: double underscores are not supported"
Since xacro 1.14.9 (Noetic) or 1.13.13 (Melodic) double underscores in property names are not allowed anymore.
This requires the URDF descriptions to be adapted accordingly. See also https://github.com/ros/xacro/issues/282.

[2021-09-28 07:47] rhaschke commented on #582
Looks like underscore names were introduced in the melodic-devel-staging branch only. Thus the Kinetic release isn't yet affected.

[2021-09-28 07:50] gavanderhoorn commented on #582
I believe #579 addresses this.

[2021-09-28 07:54] rhaschke commented on #582
Thanks for linking this PR. I had the impression that this was already addressed, but I'm surprised that the PR isn't yet merged.
Feel free to close this issue.

[2021-09-28 08:29] #582 closed, assigned to nobody

[2021-09-29 01:19] sheila-suppiah commented on #537
@cardboardcode can you assign this to @hieutrungbk ?

[2021-09-29 07:05] Simon248 commented on #539
You can assign it to me.

[2021-09-29 07:45] dhled commented on #461
Please assign this to me :)

[2021-09-29 07:47] gavanderhoorn commented on #461
While you're at it, you may want to take a look at https://github.com/ros-industrial/universal_robot/projects/1 as well.

There may be PRs there which affect this issue.

[2021-09-29 09:36] ipa-nhg commented on #567
@nawrezz could you please give more information? A more elaborated question will be very helpful

Related post:https://answers.ros.org/question/380628/blend-radius-with-moveitrosur5e/

[2021-09-29 10:26] fmauch commented on #573
@ipa-nhg This could be closed as soon as #538 gets merged, I guess.

[2021-09-29 10:54] lianghongzhuo commented on #573
Thanks a lot for your efforts to fix this!

[2021-09-29 11:04] ipa-nhg commented on #573
@fmauch yes, I think so. I linked the issue to get this one automatically closed once is merged

[2021-09-29 11:11] fmauch opened #585 "description: Should the load_urXX.launch files use the robot-specific macros?"
As risen in https://github.com/UniversalRobots/Universal_Robots_ROS_Driver/issues/471 the robot model loaded by the `load_urXX.launch` files of `ur_description` create a robot called `ur`:

https://github.com/ros-industrial/universal_robot/blob/0101cae607c9a8e7fc72934849eb4f2343e58ded/ur_description/urdf/ur.xacro#L2

When used with the moveit_config packages (see #538), this name clashes with the

[2021-09-29 13:14] ipa-nhg commented on #532
@tahir1069 is this issue still relevant? ROS kinetic is already EOL, and unfortunately we are not  able to give support anymore for that distro.

Please re-open the issue if it is still there for melodic.

[2021-09-29 13:14] #532 closed, assigned to nobody

[2021-09-29 13:39] gavanderhoorn commented on #537
This was assigned to @Hieutrungbk. Could you provide an update on what you found?

[2021-09-29 13:57] ipa-nhg commented on #494
This will be solved once #538 is merged

[2021-09-29 14:09] dhled commented on #461
So building using pybind as suggested in #453 seems to solve all python3 problems. I have tested on Python3.6 and 3.8, it seems to work fine.

The only problem is to fix the test_analytical_ik.py for python3 compatibility.

So how we should proceed ? I can try to fix/rebase the PR #453 and python3 compitibility but this might break other IK related PR.

[2021-09-29 14:23] gavanderhoorn commented on #461
Would you have an idea of how many of those PRs would get into trouble? All of them?

[2021-09-29 14:32] dhled commented on #461
This one #459 and maybe #358 (which combine 3 PR)

[2021-09-29 14:33] gavanderhoorn commented on #461
What about getting those merged first?

Would that be an option?

[2021-09-29 14:42] dhled commented on #461
Yes for #358.

For #459 it's pretty much useless if we merge #453 (or the rebased / updated version)

[2021-09-29 14:44] gavanderhoorn commented on #461
I'd be ok with merging #358 into `melodic-devel-staging`.

The rest of the IK related PRs should then also go into that branch.

Could you 'review' #358 and post a thumbs up there?

(you did test it, didn't you ? ;) )

[2021-09-29 14:52] Julien-Livet commented on #535
I have just forked the current package ([https://github.com/Julien-Livet/universal_robot](https://github.com/Julien-Livet/universal_robot)) and tested it on my machine (Noetic version). For testing, I just add in "ur10_robot.urdf.xacro" (in a proper way, include this file and call macro with following code in your own xacro) the following block (from [http://gazebosim.org/tutorials?tut=ros_gzplugi

[2021-09-29 16:30] gavanderhoorn commented on #535
I'm going to assume this was either a transient problem or has since been fixed.

Thanks @Julien-Livet for testing it out on your system.

Closing as I believe this is no longer an issue.

[2021-09-29 16:30] #535 closed, assigned to nobody

[2021-09-29 16:32] gavanderhoorn commented on #492
I'm going to close this due to inactivity.

It's been quite a while, so most parts involved have changed.

#518 changes quite a few things as well.

If this is still a problem we can re-open.

[2021-09-29 16:32] #492 closed, assigned to nobody

[2022-01-08 13:24] Jason0-0 opened #594 "The command to launch simulated robot in README is incorrect"
the command to launch the simulated robot referred in README is
 ` roslaunch ur_gazebo ur5.launch`
However, in the package that I build from the "melodic-devel-staging" branch, it doesn't work and noted that there is not such launch file in ur_gazebo package.
Then I go to the source folder, what I have found is the launch file named "urxx_bringup.launch but not "urx.launch",  so I change the comma

[2022-01-10 08:08] XiaoqZhan commented on #537
Excuse me, could you please explain the relationship between the [UniversalRobots/Universal_Robots_ROS_Driver](https://github.com/UniversalRobots/Universal_Robots_ROS_Driver) and this repository?

[2022-01-10 10:10] gonzalocasas commented on #537
This repository contains the models (URDF/SRDF/etc) and the configuration for MoveIt, and the other one is one of the drivers for the real hardware.

[2022-03-03 11:33] aatb-ch commented on #537
Is there an update on the Noetic version?

I have tried the melodic-devel-staging branch, also fmauch moveit PR branch https://github.com/ros-industrial/universal_robot/pull/538 and nothing seems to be working for MoveIt launch files on Noetic. Wondering if anybody has UR10 moveit launch files working on Noetic.

Could you clarify also the conflicting infos when following the official steps to bui

[2022-03-03 12:53] fmauch commented on #537
Using my fork and the `calibration_devel` branch should not create duplicated packages unless you keep this repo in your workspace. Note that sometimes you'll have to clean your build folder if packages got replaced.

As of this day, the instructions on [UniversalRobots/Universal_Robots_ROS_Driver](https://github.com/UniversalRobots/Universal_Robots_ROS_Driver) are still valid (and will be adapted

[2022-03-03 15:12] aatb-ch commented on #537
Hi Felix,

Thanks, I just tried pulling the `calibration_devel` branch alongside your `moveit` fork/PR and this is what I get when building, after doing a `catkin clean`:

[code]

I double-checked which repo/branch i actually pulled, for your fork:

[code]

For the `calibration_devel`:

[code]

I can build only when one of the repo is in my src folder.

[2022-03-03 15:21] fmauch commented on #537
@aatb-ch You should not clone both. No wonder you get the `Multiple packages found` error, as you have effectively cloned the same repo (in different versions) twice. **Only** use my fork (in your case delete  `~/catkin_ws/src/universal_robot`).

[2022-03-03 15:39] aatb-ch commented on #537
Ah sorry I think I might not have been clear, yes I understand that I should not have both. But if I install the https://github.com/UniversalRobots/Universal_Robots_ROS_Driver per the instructions, I end up with the `calibration_devel` branch in my `src` folder, and I did not realize that when I installed this repo to have MoveIt configs I effectively ended up with a duplicate of it.

My question

[2022-03-03 15:46] fmauch commented on #537
my calibration_devel branch **does** contain a workin moveit configuration.

[2022-03-03 16:00] aatb-ch commented on #537
Ah, sorry then, I might have been confused all along on the purpose of the `calibration_devel` branch, I thought that it was, well, something calibration-specific exclusively. I will recompile everything and let you know if it all works out. Thanks a lot for the help

[2022-03-07 11:23] aatb-ch commented on #537
Hi Felix,

So I have tried the moveit launch file for ur10 in the `calibration_devel` branch, could you confirm that the steps taken are correct? I get a `std::bad_alloc` crash on launch. Wondering if I might be missing some manual config steps?

My setup (all freshly installed and built):

- Ubuntu 20.04 Server with RT kernel (from ros-realtime) on a raspberry pi 4
- Universal Robot `ur_robot_dri

[2022-03-07 15:18] aatb-ch commented on #537
Alright so I think I've figured out the culprit here, unsurprisingly it was me.

While following the MoveIt Servo tutorial I installed from source MoveIt, but it is already installed as a dependency of the UR driver, and since I had never used it before I did not realize that. I just reinstalled a clean Noetic install with only https://github.com/UniversalRobots/Universal_Robots_ROS_Driver and you

[2022-04-05 20:54] dscho15 commented on #527
I found the issue

[2022-04-23 04:50] kevin-thankyou-lin opened #596 "xacro generates empty `ur5.urdf` file from `ur5.urdf.xacro`"
Hi!

I cloned the `melodic-devel` branch and followed the steps for building from source:

[code]

However, when I run `xacro` on `ur5.urdf.xacro`, I get an empty file:

[code]

Would you know what the issue is?

[2022-04-23 05:00] kevin-thankyou-lin commented on #596
Whoops, I'm supposed to use `ur5_robot.urdf.xacro`.

[2022-04-23 05:00] #596 closed, assigned to nobody

[2022-04-24 21:12] akmandor opened #597 ""stack smashing detected" error in MoveIt (ROS Noetic) when generating collision matrix with URDF which contains colliding link geometries"
Issue:
When generating collision matrix in MoveIt Setup Assistant using the URDF which contains colliding link geometries, the "stack smashing detected" error happens and the Setup Assistant terminates. It would be really helpful if you could update the URDF files to resolve the issue.

Tests:
- The issue is experienced when both creating new or editing the existing MoveIt configuration packages.

[2022-04-25 05:37] gavanderhoorn commented on #597
While I thank you for the (more) detailed report, I still believe this is a problem with the MSA, not with the URDF here. It's possible #527 and #570 are other instances of this same problem.

The URDF specs don't state that collision geometry cannot overlap, and due to the fact that yours is only the second (or third) report about this, I'm inclined to believe (at this point) it's not a widesprea

[2022-04-25 05:38] gavanderhoorn commented on #597
For now I'm going to close this, but as I wrote in my previous comment, we can certainly come back to this and re-open if/when needed.

[2022-04-25 05:38] #597 closed, assigned to nobody

[2022-04-25 17:43] akmandor commented on #597
Thanks @gavanderhoorn and personally I agree with your comment that "The URDF specs don't state that collision geometry cannot overlap". I think it is more meaningful to expect from the MSA implementation to handle such overlapping geometries. However, in an ideal simulation, I also don't expect the physical entities collapse. Anyway, this is obviously a gray area :) As you suggested, I wrote my o

[2022-04-25 17:46] gavanderhoorn commented on #597
I would suggest to include a backtrace of an example crash.

I expect that to be one of the first questions you'll receive from the MoveIt maintainers.

[2022-04-25 19:29] akmandor commented on #597
Added :+1:

Someone in my lab pointed me out that there is another (Unofficial) [universal_robot repository (branch: calibration_devel)](https://github.com/fmauch/universal_robot.git) which does not give the error. I just wanted to add here if someone needs to create moveit config files for UR arms from scratch.

[2022-05-12 09:32] robertokcanale opened #598 "Problem with catkin_make"
I tried to run catkin_make

I get this:

[code]

So apparently it finds some packages that exist in ROS2. How to fix this??

[2022-05-12 09:36] gavanderhoorn commented on #598
Make sure to build in a clean shell.

Check you're not auto-`source`-ing `/opt/ros/foxy/setup.bash` for instance.

Note that this is not really a question specific to the packages in this repository. It's more about general ROS/ROS2 usage.

[2022-05-12 09:36] gavanderhoorn commented on #598
As it isn't a problem with any of the packages in this repository, I'm going to close the issue.

Feel free to keep commenting on it, although keep in mind what you report is not specific to the packages in this repository.

[2022-05-12 09:36] #598 closed, assigned to nobody

[2022-05-16 15:46] lianghongzhuo opened #599 "what's the current status of melodic verison and noetic version?"
what's the current status of melodic verison and noetic version?

[2022-05-18 16:18] Breakthru opened #600 "Denavit–Hartenberg parameters mismatch for UR10e"
Universal Robots publish the DH parameters for their robots on this page:
https://www.universal-robots.com/articles/ur/application-installation/dh-parameters-for-calculations-of-kinematics-and-dynamics/

For some reasons the parameters in the URDF are not the same, they're all just about 1mm different, except for d4 set to 0.135 when the UR webpage shows 0.17415.

https://github.com/ros-industrial

[2022-06-02 11:58] fmauch commented on #599
We have been quite busy focusing on the ROS2 release lately. With that converging to a successful first release we will shift some more focus to the ROS1 repositories again.

[2022-06-02 12:07] ghost commented on #462
Remember `velocity_controllers/JointGroupVelocityController` is a forward controller so you don't need PID. You are sending the command directly (i.e. assuming your actuator accepts this kind of inputs). The error you get from Gazebo if you remove PID gains simply is not an error.

[2022-06-02 12:11] ghost commented on #462
It will fall because of the gravity and you need to start the controller right away. You can turn off the gravity for your model and once you are happy with your controller, you can switch it back to see the performance in more realistic scenario.

[2022-06-02 12:32] fmauch commented on #600
The version you've linked seems to be the rather outdated description. We are aware that this is not clearly communicated inside this repository and we are hoping to improve the situation soon (see #599).

For now I would recommend to use the `melodic-devel-staging` branch or my fork's  [calibration_devel](https://github.com/fmauch/universal_robot/tree/calibration_devel) branch when using it toget

[2022-06-02 13:20] gavanderhoorn commented on #600
because the values in the `xacro:macro` are the values for one particular UR10, and not based on anything published by UR.

I believe it's one of the UR10s of @kphawkins -- from way back in 2012/2013.

[2022-06-02 13:20] gavanderhoorn commented on #600
As this doesn't appear to be an issue with the package in this repository, I'm going to close it.

Feel free to keep commenting on it.

If it turns out this is something we need to address here, we'll re-open.

[2022-06-02 13:20] #600 closed, assigned to nobody

[2022-07-11 05:04] soumy97 opened #601 "Gazebo not opening"
Hello,
I am a beginner and I recently downloaded and installed ROS - Noetic in my Ubuntu 20.04 system. Eventually, when I am trying to open the Gazebo simulator by typing gazebo in terminal, this is the error I am getting.

gzclient: symbol lookup error: /lib/x86_64-linux-gnu/libgazebo_gui.so.11: undefined symbol: _ZN17QAbstractItemView11eventFilterEP7QObjectP6QEvent, version Qt_5

What should I d

[2022-07-11 05:47] gavanderhoorn commented on #601
This doesn't seem related to the packages in this repository.

I'd advise you to report this over at [gazebosim/gz-sim](https://github.com/gazebosim/gz-sim) instead.

This issue tracker is for issues with packages related to universal robots only.

[2022-07-11 05:47] #601 closed, assigned to nobody

[2022-07-21 08:39] fmauch commented on #430
I'l mark this closed, as #538 is merged.

[2022-07-21 08:39] #430 closed, assigned to gavanderhoorn

[2022-07-21 08:40] fmauch commented on #431
This has been included into #538, so this should be good to close.

[2022-07-21 08:40] #431 closed, assigned to nobody

[2022-07-21 08:41] fmauch commented on #460
MoveIt config has been added in #538, updating my [summary comment above](https://github.com/ros-industrial/universal_robot/issues/460#issuecomment-571532451).

[2022-07-21 08:44] fmauch commented on #599
I'll refer this issue to #448 and more explicitly, the corresponding [milestone 4](https://github.com/ros-industrial/universal_robot/milestone/4).

As they cover pretty much everything that has to be done until the binary release, I'll close this.

[2022-07-21 08:44] #599 closed, assigned to nobody

[2022-07-21 08:46] fmauch commented on #567
I'll remove the wrid21 label as this is nothing that can be worked on directly. I'm not sure whether this can be resolved on this level, but to further clarify this, more input would be needed.

[2022-07-21 08:47] fmauch commented on #537
As the current version seems to be working fine on noetic, I'll close this issue. Feel free to comment / reopen if required.

[2022-07-21 08:47] #537 closed, assigned to nobody

[2022-07-21 11:18] fmauch opened #603 "ur_kinemtics: Use non-cached Boost_INCLUDE_DIR"
See https://github.com/fmauch/universal_robot/issues/17

This should probably be checked when working on `ur_kinematics`

[2022-07-23 15:54] gonzalocasas commented on #537
I might be wrong here but it looks to me like `melodic-devel` had the last commit in 2019 and most likely doesn't work properly on Noetic.

I assume you close it because one of the other branches or even forks of this repo works on noetic (i can confirm @fmauch 's fork does), but how is that going to be clear for anyone coming to this project without having to read a few thousand comments on issue

[2022-07-24 20:55] fmauch commented on #594
This should probably be fixed on the melodic-devel-staging branch as it was in #538, specifically c3fdfefa93a89e49674439ca44120d4ad80556a5.

[2022-07-28 09:24] gyt290811 opened #604 "[ERROR] [1658975665.993442682]: RRTConnect: Motion planning start tree could not be initialized!"
I got this issue：
**[ WARN] [1658995780.555897234]: RRTConnect: Skipping invalid start state (invalid bounds)
[ERROR] [1658995780.555934424]: RRTConnect: Motion planning start tree could not be initialized!
[ERROR] [1658995780.555990100]: RRTConnect: Motion planning start tree could not be initialized!
.**
when I run this package **universal_robot**

how to solve it?

[2022-08-01 09:30] fmauch opened #605 "Add UR20 support"
As the [UR20](https://www.universal-robots.com/products/ur20-robot/) has been announced, we should add its description. There are still some (internal) things blocking us from adding it, this issue is meant as a single point of reference whenever the question pops up.

[2022-08-01 09:54] fmauch commented on #604
Thank you for reporting your issue. In order to help you resolve this, we'll need some additional information:

- What where the **exact commands** that you have run to get everything running?
- What is the **complete shell output** of all the nodes related (Driver, moveit)?
- What are the joint positions your robot is currently located when this error pops up? (The output of `rostopic echo -n1 /j

[2022-08-01 13:45] gyt290811 commented on #604
**exact commands are:**
`roslaunch ur_robot_driver ur5_bringup.launch limited:=true robot_ip:=192.168.1.27 use_lowbandwidth_trajectory_follower:=true`
`roslaunch ur5_moveit_config ur5_moveit_planning_execution.launch limited:=true`
`roslaunch ur5_moveit_config moveit_rviz.launch config:=true`
![topic echo](https://user-images.githubusercontent.com/92161272/182162660-621e73ba-51d1-4df8-88e9-90bd45e

[2022-08-02 12:29] ZZWang21 opened #606 "Extract force value from "wrench" topic."
I would like to extract one of the forces value, for example, force.z, from the rostopic "wrench". I tried many methods, but still not working. I am connecting a real UR5e robot to ROS. I can get the values when using "rostopic echo /wrench". I would like to extract the force.z to use it as a control parameter in python.

Does any expert have an idea?

Thank you very much.

[2022-08-02 13:16] gavanderhoorn commented on #606
Seems you also opened https://github.com/UniversalRobots/Universal_Robots_ROS_Driver/issues/563, which is a better place to ask this.

Closing.

[2022-08-02 13:16] #606 closed, assigned to nobody

[2022-08-15 19:13] fmauch commented on #604
Given the files you posted, you seem to not be using ur_robot_driver with the melodic-devel-staging branch, but you seem to use ur_modern_driver. I'd recommend not using ur_modern_driver unless you have a CB1 or CB2 robot.

Since you are running that setup and start everything with `joint_limited:=true`, ROS and in particular MoveIt! will expect your robot operates in the range `{-pi, pi}` for eac

[2022-09-19 16:57] ghost opened #608 "Velocity_controllers or effort_controllers for UR5 in simulation"
I know that [UR5](https://github.com/ros-industrial/universal_robot) is a joint-velocity-control robot that accepts velocity as an input. Still, I’m not sure what is the proper hardware interface (i.e. the low-level controller) I need to simulate in ROS. The [ros_control](http://wiki.ros.org/ros_control) package has an abundance of controller types. The most relevant ones for UR5 are velocity_cont

[2022-09-21 10:21] fmauch commented on #608
The real robot can use joint position or joint velocity based input. In ROS multiple controllers exist based on the different hardware types. The gazebo simulation will not be exactly the same as the real robot. If you don't have any specific requirements for a specific hardware interface, then I would suggest sticking with the default.

Depending on your use case you might want to use a URSim-bas

[2022-10-14 14:37] fmauch commented on #573
This issue can be closed by now.

[2022-10-14 14:37] #573 closed, assigned to nobody

[2022-11-07 10:45] fmauch commented on #381
The meta-package itself is renamed already, the ROS [Wiki page](https://wiki.ros.org/universal_robots) is renamed and a redirection is in place. So, everything left to do should be actually renaming the repository and afterwards update the docs:

* [README](https://github.com/ros-industrial/universal_robot/blob/melodic-devel-staging/README.md)
* [ROS Wiki](https://wiki.ros.org/universal_robots)
*

[2022-11-07 13:21] fmauch opened #613 "Future of ur_kinematics plugin"
Currently, the main thing holding us back from doing a binary release is the ur_kinematics plugin. The current identified problems are:

* It uses a deprecated API (See #476), while #476 makes the move_group crash on startup
* URKinematics currently only supports UR3, UR5, UR10, while all the four e-Series robots are missing
* The URKinematics plugin uses the uncalibrated robot model, so it won't

[2022-11-08 09:08] fmauch commented on #433
Closed via #614

[2022-11-08 09:08] #433 closed, assigned to gavanderhoorn

[2022-11-08 09:15] fmauch commented on #440
I think, this can be closed, since everything from this issue is done.

[2022-11-08 09:15] #440 closed, assigned to nobody

[2022-11-08 09:15] fmauch commented on #522
Closed via #611

[2022-11-08 09:15] #522 closed, assigned to nobody

[2022-11-10 10:08] fmauch commented on #460
kinematics has been added, so everything is done. Closing this issue.

[2022-11-10 10:08] #460 closed, assigned to nobody

[2022-11-10 13:48] fmauch commented on #521
I'd close this since #619 is now merged. The mentioned issues in https://github.com/ros-industrial/universal_robot/issues/521#issuecomment-863583091 still exist and should probably continued in a separate issue.

[2022-11-10 13:48] #521 closed, assigned to ipa-kut

[2022-11-10 13:48] fmauch commented on #448
Looks like everything here is done -> closing

[2022-11-10 13:48] #448 closed, assigned to nobody

[2022-11-10 13:49] fmauch commented on #381
Removing this from the milestone, as this is not effectively stopping us from releasing.

[2022-11-10 20:27] fmauch commented on #613
Update: We've updated the package so that it supports all 7 robot models, but the other two points remain valid in my opinion.

[2022-11-10 21:17] danzimmerman commented on #521
Do you feel like this is an enhancement issue or maybe more of a documentation issue on different ways to simulate the UR arms?

**Technical Enhancements**

One mitigation with effort controllers if PID tweaking can't achieve acceptable sag might be to add feedforward terms, at least gravity compensation, to default effort controllers, but that seems like a big project for all of the arms, and it

[2022-11-11 09:49] fmauch opened #622 "Change default branch to melodic-devel"
Since we've merged #617 and triggered a release for melodic and noetic, I think it makes sense to change this repo's default branch to `melodic-devel`.

@gavanderhoorn since I don't have the rights to do that, would you please perform this step?

[2022-11-11 09:52] fmauch commented on #521
@danzimmerman First of all thank you very much for your continuous efforts with this. I think a good place for something like that would be the [tutorials repo](https://github.com/UniversalRobots/Universal_Robots_ROS_Tutorials) where we could add something to the documentation, as well as an example package to make it easy for users to try out different configurations. Any input there is very well

[2022-11-21 20:30] Akumar201 opened #625 "Semantic description is not specified for the same robot as the URDF"
I am trying to launch
`universal_robot/ur5e_moveit_config/launch$ roslaunch moveit_rviz.launch ` from melodic branch
however I am getting the following error, from my understanding there is something wrong with launching move_group.launch, but even after launching this I am getting the following error,
`Semantic description is not specified for the same robot as the URDF`
After launching move_grou

[2022-11-23 13:52] RobertWilbrandt commented on #625
Can you confirm that you use an up-to-date version of this repository? From my understanding this error should be fixed since #615 and i am currently not able to reproduce the error you are describing.

Could you also show your complete sequence of operations that leads to this error? I.e. how exactly did you start gazebo / the robot driver and how did you start the move group?

[2022-11-23 13:55] RobertWilbrandt commented on #576
As this is not related to UR robots i'll go ahead and close this

[2022-11-23 13:55] #576 closed, assigned to nobody

[2022-11-24 02:39] Akumar201 commented on #625
Hi, I am on the melodic branch. Actually I am using ROS Noetic and was following the tutorial https://ros-planning.github.io/moveit_tutorials/doc/realtime_servo/realtime_servo_tutorial.html , however it's need to be updated. While attempting to reproduce the tutorial I found this error. Please guide me through it. I am using Ubuntu 20.04 and ROS Noetic

[2022-11-24 07:16] VJan2022 commented on #625
I tried to $roslaunch ur5_moveit_config moveit_rviz.launch
But it happens to
[ERROR] [1669274019.893303177]: Robot model parameter not found! Did you remap 'robot_description'?
[ERROR] [1669274019.894229168]: Robot model not loaded
WHY?

[2022-11-24 08:19] fmauch commented on #625
@VJan2022 please do not hijack other issues. Your error output is clearly different and looks like you didn't start the `roslaunch ur5_moveit_config ur5_moveit_planning_execution.launch` command beforehand.

@Akumar201 The exact commands that you used to start your system (`roslaunch ....`, together with the output) would be important to find out what is going wrong.

[2022-11-24 09:04] VJan2022 commented on #625
sorry and thank you

[2022-11-24 14:49] gavanderhoorn commented on #622
Done

[2022-11-24 14:49] #622 closed, assigned to gavanderhoorn

[2022-11-25 15:51] Akumar201 commented on #625
I was able to resolve this issue. I build catkin workspace and source my file and then it was working perfectly. The problem was associated with not able to find URDF file from the folder.

I am closing this issue as it has been solved. If the problem persists, please comment and the issue will be reopened if appropriate.

[2022-11-25 15:51] #625 closed, assigned to nobody

[2022-11-30 09:14] RobertWilbrandt commented on #594
This is now fixed for some time, so i'll close it. Thank you for the report!

[2022-11-30 09:14] #594 closed, assigned to nobody

[2022-11-30 09:20] RobertWilbrandt commented on #585
I cannot quite track the intention mentioned in the title, but is this still relevant? As of #538 MoveIt by default doesn't load its own description anymore and #615 made sure that the srdf robot name matches the urdf.